@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.optic-button {
    background-color: #1a2137;
    color: white;
    border-width: 0px;
    border-style: solid;
    border-radius: 3px;
    height: 45px;
    width: 120px;
}

.optice_paragraph {
    color: #7b8794;
    font-weight: 400;
}

.optice_head {
    color: #1f2933;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: bold;
}

.optice_image {
    height: 250px;
    width: 100%;
}

.bg-container {
    background-color: white;
}